* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./https://netflixcloneaws.s3.us-east-1.amazonaws.com/NetflixClone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.7);
}

.logo {
  font-size: 28px;
  color: red;
  font-weight: bold;
}

.btn {
  padding: 8px 16px;
  background: black;
  color: white;
  border: 1px solid white;
}

.red {
  background: red;
  border: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;

  background:
    linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.2)),
    url("https://netflixcloneaws.s3.us-east-1.amazonaws.com/NetflixClone.png");

  background-size: cover;
  background-position: center;
}

.hero h1, .hero p {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.play {
  background: #e50914;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}
